$white: #ececec;
$black: $text-color;

$colorPrimary: $black;
$colorSecondary: $black;
$cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

//split button mixin
.hoverbutton:hover ~ .arrow{
  margin-left: 2rem;
}
.hoverbutton:active ~ .arrow{
  top: 0.8rem;
  left: 0.8rem;
  transition-duration: 0.4s;
}

@mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
	.hoverbutton {
    font-family: mosk;
		text-decoration: none;
		font-weight: 900;
		border: 0;
		//display: block;
		position: relative;
		letter-spacing: 0.15em;
		margin: 0 auto;
		padding: 2rem 3rem;
		background: transparent;
		outline: none;
		font-size: 28px;
		color: $textColor;
		transition: all 0.5s $cubic-bezier 0.15s;
    & > span{
      font-size: 2.8rem;
      position: relative;
      z-index: 20;
      color: $text-color;
      top: 0;
      left: 0;
    }
		&::after,
		&::before {
			border: 0;
			content: "";
			position: absolute;
			height: 2rem;
      width: 2rem;
			transition: all 0.5s $cubic-bezier;
			border-radius: 50%;
			// animation: grow 1s infinite;
		}
		&::before {
			border: 0;
			background-color: $backgroundColor;
			top: -0.75rem;
			left: 0;
			animation: topAnimation 2s $cubic-bezier 0.25s infinite alternate;
		}
		&::after {
			background-color: $foregroundColor;
			bottom: 0rem;
			left: 13rem;
			animation: bottomAnimation 2s $cubic-bezier 0.5s infinite alternate;
		}
		&:hover {

			& > span{
        transition-delay: 0.2s;
        color: white;
      }
			&::before,
			&::after {
				top: 0;
				//transform: skewx(-10deg);
				height: 100%;
				width: 100%;
				border-radius: 0;
				animation: none;
			}
			&::after {
				left: 0rem;

			}
			&::before {
				top: 0.8rem;
				left: 0.8rem;
        background-color: transparent;
        border: 3px solid $black;
			}
		}

    &:active{
      &::after {
				top: 0.8rem;
				left: 0.8rem;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
      }

      & > span{
        top: 0.8rem;
				left: 0.8rem;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
      }
    }
	}
}


@include btn__split($colorPrimary, $colorSecondary, $black);