*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
 }
 body {
  box-sizing: border-box;
  background-image: url(img/back2.jpg);
  // background-color: #f4e04e;
  // background-image: linear-gradient(160deg, #f4e04e 60%, #c6588a 60%);
  // background-image: url(img/bluebackground.svg);
  // background-position: bottom;
  // background-repeat: no-repeat;
 }
 .section{
  height: 100vh;
}
