.u-project-color-1{
    background-color: #F2DAC3;
}
.u-project-color-2{
    background-color: #eebacb;
}
.u-project-color-3{
    background-color: #a2c3f5;
}
.u-project-color-4{
    background-color: #ffbda6;
}