.about{
    display: flex;
    flex-direction: column;
    height: 100vh;
    // background-color: #fef8b4;
    // background: url(img/back1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 100;
    overflow: hidden;
  }
  .infobox__container{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
  
    // animation: moveUp 1s ease-in-out 2s backwards;
  }
  
  .infobox{
  
    max-width: 60vw;
    background-color: white;
    font-family: mosk;
    position: relative;
    border: 3px solid $text-color;
    color: $text-color;
    z-index: 50;
  
    &::before{
      // content: '';
      position: absolute;
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      border: 3px solid $text-color;
      z-index: 15;
      bottom: -8rem;
      right: -12rem;
    }
  
    &::after{
      // content: '';
      position: absolute;
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      background-color: #d2c7d5;
      z-index: 12;
      bottom: -6.5rem;
      right: -13.5rem;
    }
  
    &__svg{
      height: 25rem;
      top: -9rem;
      left: -8rem;
      position: absolute;
      z-index: 10;
  
    }
  
    &__content{
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 20;
      background-color: white;
      padding: 3rem 3rem 6rem 3rem;
      text-align: justify;
      box-shadow: 2rem 2rem 0 0 #404040;
  
      & > h2{
        font-family: mosk;
        font-weight: 900;
        font-size: 4rem;
        animation: moveUp 1s ease-in-out backwards;
      }
      
      & > p{
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: muli;
        font-size: 2rem;
        line-height: 3.2rem;
        animation: moveUp 1s ease-in-out 1s backwards;
      }
  
      
    }
  }
  .infobox__ava{
    width: 20rem;
    height: 20rem;
    position: absolute;
    z-index: 25;
    top: -10rem;
    right: -10rem;
    border: 3px solid $text-color;
    border-radius: 50%;
  
    & > img{
      max-width: 100%;
      border-radius: 50%;
    }
  }
  
  
  
  .svg-2[data-v-4df41337] {
    width: 100%;
    -webkit-animation: infiniteRotate 30s linear infinite;
    animation: infiniteRotate 30s linear infinite;
    transform-origin: center;
  }
  
  .svg-2 textPath[data-v-4df41337] {
    font-size: 46px;
    font-family: "muli";
    text-transform: uppercase;
    letter-spacing: 15.5px;
    fill: #000;
  }
  
  
  
  .link__skills{
    position: absolute;
    width: 25rem;
    height: 25rem;
    bottom: -10rem;
    right: 0;
  }
  
  .svg-1 svg[data-v-4df41337] {
    width: 100px;
    max-width: 40px;
  }
  .svg-1[data-v-4df41337] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
    width: 100%;
    max-width: 40px;
    
    // transform-origin: left bottom;
  }
  